@font-face {
	font-family: 'Zalando Sans Expanded';
	src: url('./assets/fonts/ZalandoSansExpanded-Medium.ttf');
}
@font-face {
	font-family: 'Azeret Mono';
	src: url('./assets/fonts/AzeretMono-Regular.ttf');
}